<% provide(:title, "About") %>
<h1>About Muh Memes</h1>
<p>Store your favorite memes on your homepage</p>
<p>Tag memes and gifs for easy retrieval</p>
<p>Share memes with friends in your network</p>
<p>Generate new memes with the meme machine</p>
