<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p class="center">Your feedback is very important!</p>
<p class="center">Contact us using the form below with any suggestions for how we can improve Muh Memes</p>

