<div class="center jumbotron black-background">
  <h1>Muh Memes</h1>
  <p>A community for saving, sharing, and creating memes and GIFs!</p>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


