<option value="Arial" style="font-family: arial;">Arial</option>
<option value="Arial Black" style="font-family: arial black;" >Arial Black</option>
<option value="Avant Garde" style="font-family: avant garde;">Avant Garde</option>
<option value="Bodoni MT" style="font-family: bodoni mt;">Bodoni MT</option>
<option value="Book Antiqua" style="font-family: book antiqua;">Book Antiqua</option>
<option value="Calibri" style="font-family: calibri;">Calibri</option>
<option value="Calisto MT" style="font-family: calisto mt;">Calisto MT</option>
<option value="Cambria" style="font-family: cambria;">Cambria</option>
<option value="Century Gothic" style="font-family: century gothic;">Century Gothic</option>
<option value="Courier New" style="font-family: courier new;">Courier New</option>
<option value="Franklin Gothic Medium" style="font-family: franklin gothic medium;">Franklin Gothic Medium</option>
<option value="Futura" style="font-family: futura;">Futura</option>
<option value="Garamond" style="font-family: garamond;">Garamond</option>
<option value="Geneva" style="font-family: geneva;">Geneva</option>
<option value="Goudy Old Style" style="font-family: goudy old style;">Goudy Old Style</option>
<option value="Helvetica" style="font-family: helvetica;">Helvetica</option>
<option value="Impact" style="font-family: Impact;">Impact</option>
<option value="Lucida Bright" style="font-family: lucida bright;">Lucida Bright</option>
<option value="Lucida Sans Typewriter" style="font-family: lucida sans typewriter;">Lucida Sans Typewriter</option>
<option value="Monaco" style="font-family: monaco;">Monaco</option>
<option value="Palatino" style="font-family: palatino;">Palatino</option>
<option value="Papyrus" style="font-family: papyrus;">Papyrus</option>
<option value="Perpetua" style="font-family: perpetua;">Perpetua</option>
<option value="Rockwell" style="font-family: rockwell;">Rockwell</option>
<option value="Tahoma" style="font-family: tahoma;">Tahoma</option>
<option value="Times New Roman" style="font-family: times new roman;">Times New Roman</option>
<option value="Verdana" style="font-family: verdana;">Verdana</option>