<option value="Arial Black" style="font-family: arial black;" >Arial Black</option>
<option value="BadMofo" style="font-family: BadMofo;">Bad Mofo</option>
<option value="Butcherman" style="font-family: Butcherman;">Butcherman</option>
<option value="Cambria" style="font-family: cambria;">Cambria</option>
<option value="Century Gothic" style="font-family: century gothic;">Century Gothic</option>
<option value="Faster One" style="font-family: Faster One;">Faster One</option>
<option value="Impact" style="font-family: Impact;">Impact</option>
<option value="Impact-Outline" style="font-family: Impact;">Impact-Outline</option>
<option value="Nosifer" style="font-family: Nosifer;">Nosifer</option>
<option value="Papyrus" style="font-family: papyrus;">Papyrus</option>
<option value="Push" style="font-family: Push;">Push</option>