<option value="Arial Black" style="font-family: arial black;" >Arial Black</option>
<option value="BadMofo" style="font-family: BadMofo;">Bad Mofo</option>
<option value="Butcherman" style="font-family: Butcherman;">Butcherman</option>
<option value="Freckle Face" style="font-family: Freckle Face;">Freckle Face</option>
<option value="Gloria Hallelujah" style="font-family: Gloria Hallelujah;">Gloria Hallelujah</option>
<option value="Impact" style="font-family: Impact;">Impact</option>
<option value="Impact-Outline" style="font-family: Impact;">Impact-Outline</option>
<option value="Lora" style="font-family: Lora;">Lora</option>
<option value="Nosifer" style="font-family: Nosifer;">Nosifer</option>
<option value="Orbitron" style="font-family: Orbitron;">Orbitron</option>
<option value="Permanent Marker" style="font-family: Permanent Marker;">Permanent Marker</option>
<option value="Push" style="font-family: Push;">Push</option>
<option value="Rock Salt" style="font-family: Rock Salt;">Rock Salt</option>
