@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html, body, .container-fluid {
  height: 100%;
}

section {
  overflow: auto;
}

.center {
  text-align: center;
  h1 {
  margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  margin-right: 10px;
  color: white;
  font-size: 1.7em;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  padding-right: 0;
  margin-right: 0;
  &:hover {
  color: rgb(51, 122, 183);
  text-decoration: none;
  }
}

/* navbar */

.navbar {
  border-bottom: 2px solid rgb(191, 191, 191);
  position: relative;
  margin-bottom: 0;
}

.navbar-nav {
  margin: 0 !important;
}

.navbar-toggle {
  margin-right: 0;
}

.navbar-flexbox-center {
  display: flex;
  align-items: center;
}

.navbar-nav li a {
  line-height: 50px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown-item {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.navbar-custom {
  background-color: white;
}

@media only screen and (max-width: 768px) {
  #logo { display: none; }
}

#nav-button {
  clear: both;
  display: inline-block;
  position: relative;
}

#nav-button button {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 50px;
}

#nav-button button.navbar-toggle {
  line-height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  float: none;
}

@media only screen and (min-width: 768px) {
  #site-links { display: inline-block !important; }
}

#profile-dropdown {
  display: inline-block;
}

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear:      both;
  width:      100%;
  margin-top: 45px;
  @include box_sizing
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid black;
  width: 100%;
  margin-bottom: 15px;
  @include box-sizing
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

#users {
  padding-left: 0;
  list-style: none;
  margin: 0;
  li {
    padding: 10px 0;
    border-bottom: 1px solid gray;
  }
}

#default-avatar-image-small {
  font-size: 35px;
  vertical-align: middle;
}

.default-avatar-color {
  color: rgb(51, 51, 51);
}

/* User show */

.avatar {
  margin-top: 2.5%;
}

.tag-cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

@media only screen and (max-width: 992px) {
 .tag-cloud { 
   width: 100%; 
 }
 .memes-list {
   text-align: center;
 }
}

.meme-show-button {
  padding: 0 0 0 4px;
}

/* memes */

.memes-list {
  list-style: none;
  padding: 0;
  li {
    display: inline-block;
    padding: 5px;
  }
}

.image-thumb {
  width: 100px;
  height: 100px;
}

.image {
  display: inline-block;
  text-align: center;
  margin-top: 5%;
}

.delete-button {
  display: block;
}

#canvas {
  margin-bottom: 10px;
}

.meme-form-wrapper {
  height: 100%;
}

.meme-preview {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 100%;
}

.meme-alteration {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  border-left: 1px solid rgb(191, 191, 191);
}

.meme-alteration-section {
  height: 92.5%;
  position: relative;
  padding-left: 5%;
}

@media only screen and (max-width: 992px) {
 .meme-alteration {
   margin-top: 3%;
   margin-bottom: 3%;
   border-left: none;
   border-bottom: 1px solid rgb(191, 191, 191);
 }
}

.meme-creation {
  min-height: 450px;
  height: 55%;
  border-bottom: 2px solid rgb(191, 191, 191);
  // background-color: rgb(230, 230, 230);
  // background-image: url('/assets/379775-grey-texture.jpg');
}

#new_meme {
  height: 100%;
}

.form-group.meme-group {
  height: 100%;
  margin: 0px;
}

#canvas-area {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.canvas-container {
  display: inline-block;
}

#top-text-options, #bottom-text-options {
  text-align: left;
}

#top-color, #bottom-color {
  position: relative;
  display: inline-block;
  top: 50%;
  width: 90%;
  transform: translateY(-50%);
}

#top-color-wrapper, #bottom-color-wrapper {
  height: 34px;
  width: 17.5%;
}

#top-font-size-div, #bottom-font-size-div {
  position: relative;
  display: inline-block;
  width: 17.5%;
}

#top-font-size-select, #bottom-font-size-select {
  padding-right: 0.5em !important;
  padding-left: 0.5em !important;
}

#top-font-style-div, #bottom-font-style-div {
  position: relative;
  display: inline-block;
  width: 40%;
}

#top-text-buttons, #bottom-text-buttons {
  width: 25%;
  padding: 0;
}

#top-text-buttons button, #bottom-text-buttons button {
  width: 50%
}

@media only screen and (max-width: 550px) {
  #top-left-align, #top-center-align, #top-right-align, #bottom-left-align, #bottom-center-align, #bottom-right-align { 
   display: none; 
  }
  #top-font-style-div, #bottom-font-style-div {
   width: 35%;
  }
  #top-font-size-div, #bottom-font-size-div {
   width: 20%;
  }
  #top-text-buttons, #bottom-text-buttons {
   width: 25%;
  }
  #top-color-wrapper, #bottom-color-wrapper {
   width: 20%;
  }
  #top-text-buttons button, #bottom-text-buttons button {
  width: 50%
  }
}

.submit-buttons {
  text-align: center;
}

#upload-area {
  background-color: #3f3f3f;
  height: 80%;
  width: 90%;
  display: inline-block;
  margin-left: 5%;
  border-radius: 20px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.dragover {
  background-color: #C7D4EB !important;
}

#upload-area-header {
  height: 10%;
  color: #e0e3e8;
  font-size: 20px;
  text-align: center;
  padding: 2.5%;
}

#upload-area-description {
  padding-top: 15%;
  height: 50%;
  color: #e0e3e8;
  text-align: center;
}

#upload-area-select-file {
  text-align: center;
  height: 40%;
  border-top: 2px solid white;
  width: 100%;
}

#upload-file-button {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#image-upload {
  position: relative;
  text-align: center;
}

#upload-file-button .bootstrap-filestyle {
  margin: 0 auto;
}

#remote-meme-url {
  width: 75%;
  margin: 0 auto;
}

.disable-div {
  pointer-events: none;
  opacity: 0.4;
}

#meme_private {
  width: auto;
}

@media only screen and (min-width: 768px) {
  #draw-mode-wrapper {
    height: 100%;
  }
  #draw-mode-button {
    top: 50%;
    transform: translateY(-50%);
  }
}

#drawing-mode-button-wrapper, #drawing-mode-button-off-wrapper {
  margin-top: 1%;
}

#drawing-mode-button-off-wrapper {
  margin-bottom: 1%;
}

#draw-mode-button {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
  border: none;
  background-color: white;
  cursor: pointer;
}

#draw-mode-button-off {
  position: relative;
  font-size: 1.1em;
  cursor: pointer;
  float: none;
}

#pencil {
  width: 40%;
}

#object-select-buttons {
  margin-bottom: 2%;
}

.selection-mode-color {
  background-color: #5cb85c !important;
  color: white !important;
}

/* Glyphicons */

.glyphicon {
  font-size: 1em;
}

.glyphicon-heart {
  font-size: 1.3em;
}

.fa-trash-o {
  font-size: 1.3em !important;
}
/* Edit Page */

#current-avatar {
  margin-top: 10px;
  margin-bottom: 10px;
}

#default-avatar-image {
  font-size: 350%;
}

/* Meme Show Page */

#share-button-container {
  border-top: 1px solid rgb(191, 191, 191);
  border-bottom: 1px solid rgb(191, 191, 191);
  margin-top: 2%;
}

#share-button-container ul li{
  display: inline;
}

#share-buttons {
  list-style-type: none;
  padding-right: 0;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

#meme-show-tag-section {
  margin-top: 20px;
}

.remove-from-favorites-heart {
  color: red;
  opacity: 1;
}

.favorites-count {
  font-size: 1.1em;
}

#meme-delete-button i {
  margin-right: 5px;
}

.meme-option-buttons {
  list-style-type: none;
  margin-top: 3%;
  padding-left: 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

.meme-option-buttons li {
  display: inline-block;
  padding-left: 0;
  padding-right: 0;
}

/* Home Page */

.header {
  margin-bottom: 0;
  padding-bottom: 0;
  background-color: white;
}

#home-page-panda {
  margin-top: 2.5%;
  width: 100%;
  max-width: 500px;
}

.search-area {
  margin-bottom: 2%;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.search-bar {
  display: inline-table;
  vertical-align: middle;
}

#filters {
  margin-bottom: 1%;
}

.filter-button {
  width: 22.5%;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
