/* fonts */
@font-face {
  font-family: 'Impact';
  src: font_path('impact.ttf')
}

@font-face {
  font-family: 'BadMofo';
  src: font_path('BadMofo.ttf')
}

@font-face {
  font-family: 'Push';
  src: font_path('push.ttf')
}
