/* fonts */
@font-face {
  font-family: 'Impact';
  src: asset-url('impact.ttf')
}

@font-face {
  font-family: 'BadMofo';
  src: asset-url('BadMofo.ttf')
}

@font-face {
  font-family: 'Push';
  src: asset-url('push.ttf')
}
